<footer>
        <ul>
            <li class="aligned orientation">
                <i class="icon-footer fa-solid fa-credit-card"></i>
                <h3 class="footer-title"> Pagá con tarjeta o en efectivo </h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
           </li>
            <li class="aligned orientation">
                <i class="icon-footer fa-solid fa-gift"></i>
                <h3 class="footer-title">Envio gratis desde $2500</h3> 
                <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li class="aligned orientation">
                <i class="icon-footer fa-solid fa-user-shield"></i>
                <h3 class="footer-title"> Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
           </li>
        </ul>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>