<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link href="/css/home.css" rel="stylesheet"/>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div id="encabezado">
            <img id="logo" src="/images/logo-mercado-liebre.svg" alt="">
            <div id="buscador">
                <input name="buscadopr" placeholder="Buscar productos y marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        <div class="aligned centered" id="subtitle">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Compra en cuotas y sin tarjeta de credito</p>
        </div>
        </div>
        <nav class="spaced between">
            <ul class="aligned">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                </ul>
            <ul class="aligned"> 
                <li>><a href="register">Creá tu cuenta
                    <i class="fa-regular fa-address-card"></i></a> 
                </li>
                <li>Ingresá
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </li>
                <li>Mis compras
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>                
            </ul>
        </nav>
            <button id="burger-menu">
                <i class="fas fa-bars"></i>
            </button>
        <img id="banner"src="/images/img-home-banner.jpg">
    </header>
    <main class="aligned orientation">
        <section>
            <h2 class="titulares spaced">Basado en tu ultima visita</h2>
            <div class="section-products">
                <article>
                    <div class="image-container">
                        <img src="./images/img-cafetera-moulinex.jpg">
                    </div>
                    <div class="detail-products">
                        <span><i class="fa-solid fa-truck color-green"></i></span>
                        <div class="aligned">
                            <p class="prices">$6700</p>
                            <p class="sales color-green">40%OFF</p>
                        </div>
                        <p class="description">Cafetera Mounlinex</p>
                    </div>
                </article>
                <article>
                    <div class="image-container">
                        <img src="./images/img-macbook-pro-2019.jpg">
                    </div>
                    <div class="detail-products">
                        <span><i class="fa-solid fa-truck color-green"></i></span>
                        <div class="aligned">
                            <p class="prices">$230000</p>
                            <p class="sales color-green">20% OFF</p>
                        </div>
                        <p class="description">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <div class="image-container">
                        <img src="./images/img-samsung-galaxy-s10.jpg">
                    </div>
                    <div class="detail-products">
                        <span><i class="fa-solid fa-truck color-green"></i></span>
                        <div class="aligned">
                            <p class="prices">$70500</p>
                            <p class="sales color-green">10% OFF</p>
                        </div>
                        <p class="description">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <div class="image-container">
                        <img src="./images/img-tv-samsung-smart.jpg">
                    </div>
                    <div class="detail-products">
                        <span><i class="fa-solid fa-truck color-green"></i></span>
                        <div class="aligned">
                            <p class="prices">$23200</p>
                            <p class="sales color-green">5 % OFF</p>
                        </div>
                        <p class="description">SmartTvGalaxy S10</p>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h2 class="titulares spaced">Seccion de Ofertas</h2>
            <div class="section-products">
                <article>
                    <div class="image-container">
                        <img src="./images/img-cafetera-moulinex.jpg">
                    </div>
                    <div class="detail-products">
                        <span><i class="fa-solid fa-truck color-green"></i></span>
                        <div class="aligned">
                            <p class="prices">$6700</p>
                            <p class="sales color-green">40%OFF</p>
                        </div>
                        <p class="description">Cafetera Mounlinex</p>
                    </div>
                </article>
                <article>
                    <div class="image-container">
                        <img src="./images/img-macbook-pro-2019.jpg">
                    </div>
                    <div class="detail-products">
                        <span><i class="fa-solid fa-truck color-green"></i></span>
                        <div class="aligned">
                            <p class="prices">$230000</p>
                            <p class="sales color-green">20% OFF</p>
                        </div>
                        <p class="description">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <div class="image-container">
                        <img src="./images/img-samsung-galaxy-s10.jpg">
                    </div>
                    <div class="detail-products">
                        <span><i class="fa-solid fa-truck color-green"></i></span>
                        <div class="aligned">
                            <p class="prices">$70500</p>
                            <p class="sales color-green">10% OFF</p>
                        </div>
                        <p class="description">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <div class="image-container">
                        <img src="./images/img-tv-samsung-smart.jpg">
                    </div>
                    <div class="detail-products">
                        <span><i class="fa-solid fa-truck color-green"></i></span>
                        <div class="aligned">
                            <p class="prices">$23200</p>
                            <p class="sales color-green">5 % OFF</p>
                        </div>
                        <p class="description">SmartTvGalaxy S10</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <ul>
            <li class="aligned orientation">
                <i class="icon-footer fa-solid fa-credit-card"></i>
                <h3 class="footer-title"> Pagá con tarjeta o en efectivo </h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
           </li>
            <li class="aligned orientation">
                <i class="icon-footer fa-solid fa-gift"></i>
                <h3 class="footer-title">Envio gratis desde $2500</h3> 
                <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li class="aligned orientation">
                <i class="icon-footer fa-solid fa-user-shield"></i>
                <h3 class="footer-title"> Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
           </li>
        </ul>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>