* { 
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

/*seccion header*/


/*ANIMACIONES*/
.fa-truck{
    transition: transform 1.5s ease
}
.fa-truck:hover{
    transform: rotateZ(360deg)
}
article:hover{
    box-shadow: 0px 0px 30px rgb(226, 184, 59);;
}

.image-container:hover + .detail-products .description {
    display: block; /* Muestra el elemento cuando el mouse pasa por encima de la imagen */
}
/*common*/
.between{
    justify-content: space-between;
}
.orientation{
    flex-direction: column;
}
.centered{
    justify-content: center;
}
.aligned{
    display: flex;
    align-items: center;
}
.spaced{
    margin: 10px 0px;
}
p{
    font-family: 'Roboto';
    font-size: 12px;
}
/*main*/
main{
    background-color: #ebebeb;
}
.detail-products{
    border-top: 1px #ebebeb solid;
    padding: 15px;
}
.image-container{
    display: flex;
    justify-content: center;
}

/*para el divque contiene las imagenes padding-left: 5vw;*/
/*card de productos*/
section{
    width: 90%;
}

.color-green{
color:#39b54a;
}
article{
    background-color: white;
    margin-bottom: 10px;
}
/*camion*/
.fa-truck{
    position: relative;
    float: right;
    padding: 8px;
    border: 1px #39b54a solid;
    border-radius: 100%;
    top:-32px
    
}
/*imagenes de productos*/
.image-container img{
    width: 100%;
}

/*footer*/
footer{
    padding: 50px 20px 5px;
    color:#666
}
.icon-footer{
    font-size: 2em;
    color: #1263BC;
    margin-bottom: 10px;
}
.description{
    color:#666;
    padding-top: 10px;
    display: none;
} 

.footer-title{
    text-align: center;
}
ul{
  list-style-type: none;
  padding: 0px;
}
footer li{
    padding: 20px;
}
/*breakpoints*/
/*tablets (se toma en cuenta los breakpoints segun profe juan*/
@media (min-width: 768px) {
     .description,nav{
        display: flex;
    } 
    #burger-menu{
        display: none;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        margin:10px 15px
    }
    .section-products{
        display: flex;
        flex-wrap: wrap;
    }
    #logo{
        width: 21vw;
    }
    #buscador #logo{
        flex:initial;
    }
        #buscador {
        width: 35%;;
    }
    #subtitle{
        margin: 0px;
    }
}
/*desktop*/
@media (min-width: 1024px) {
    .description,nav{
        display: flex;
    } 
    #burger-menu{
        display: none;
    }
  article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
    }
      .section-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
     #buscador #logo{
        flex:initial
    }
    footer ul{
        display: flex;
    }
    .icon-footer:hover{
        color: #0022AA;
    }
}
/*colores::afterAmarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb main;
Verde: #39b54a; camion*/