

/*ANIMACIONES*/
.fa-truck{
    transition: transform 1.5s ease
}
.fa-truck:hover{
    transform: rotateZ(360deg)
}
article:hover{
    box-shadow: 0px 0px 30px rgb(226, 184, 59);;
}

.image-container:hover + .detail-products .description {
    display: block; /* Muestra el elemento cuando el mouse pasa por encima de la imagen */
}

/*main*/
main{
    background-color: #ebebeb;
}
.detail-products{
    border-top: 1px #ebebeb solid;
    padding: 15px;
}
.image-container{
    display: flex;
    justify-content: center;
}

/*card de productos*/
section{
    width: 90%;
}

.color-green{
color:#39b54a;
}
article{
    background-color: white;
    margin-bottom: 10px;
}
/*camion*/
.fa-truck{
    position: relative;
    float: right;
    padding: 8px;
    border: 1px #39b54a solid;
    border-radius: 100%;
    top:-32px
    
}
/*imagenes de productos*/
.image-container img{
    width: 100%;
}

