/*form*/
form{
   display: flex;
  /* width: 100%; */
  flex-direction: column;
  padding-left: 20%;

}
label{
    padding: 20px;
    display: flex;
  flex-direction: column;
}
input{
    padding: 0px 15px;
    border-radius: 10px;
    border: none;
    width: 80%;
}
fieldset{
    border: none;
    padding: 20px;
    width: 75%;
}
fieldset label{
    padding: 0px;
    margin: 10px 0px;
    display: block;
   
}
.buttons{
display: flex;
justify-content: center;
}
button{
  background-color: #1263BC;
  max-width: 20%;
  width: 18rem;
  color: white;
  padding: 10px;
  margin: 20px;
}
#category label{
 flex-direction: row;
  justify-content: space-between;
  display: flex;
}
#category input {
    width:auto;
}
#category{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
/*common*/
span{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;

  display: inline-block;

}
@media (max-width: 370px) {
    #category{
  display: block;
  margin-left: 40px;
}
fieldset{
    display: block;
}
}
@media (min-width: 600px) {
    /* form{
        display: flex;
  flex-direction: column;

    } */
    fieldset{
            /* display: flex;
    justify-content: space-between; */
    display: block;
    }
}
@media (min-width: 1024px) {
  form{
    width: 80%;
    margin: auto
  }
}